In [8]:
!pip3.5

Usage:
  pip3.5 <command> [options]

Commands:
  install                     Install packages.
  download                    Download packages.
  uninstall                   Uninstall packages.
  freeze                      Output installed packages in requirements format.
  list                        List installed packages.
  show                        Show information about installed packages.
  check                       Verify installed packages have compatible dependencies.
  config                      Manage local and global configuration.
  search                      Search PyPI for packages.
  wheel                       Build wheels from your requirements.
  hash                        Compute hashes of package archives.
  completion                  A helper command used for command completion.
  debug                       Show information useful for debugging.
  help                        Show help for commands.

General Options:
  -h, --help                  Show help.
  --isolated                  Run pip in an isolated mode, ignoring
                              environment variables and user configuration.
  -v, --verbose               Give more output. Option is additive, and can be
                              used up to 3 times.
  -V, --version               Show version and exit.
  -q, --quiet                 Give less output. Option is additive, and can be
                              used up to 3 times (corresponding to WARNING,
                              ERROR, and CRITICAL logging levels).
  --log <path>                Path to a verbose appending log.
  --proxy <proxy>             Specify a proxy in the form
                              [user:passwd@]proxy.server:port.
  --retries <retries>         Maximum number of retries each connection should
                              attempt (default 5 times).
  --timeout <sec>             Set the socket timeout (default 15 seconds).
  --exists-action <action>    Default action when a path already exists:
                              (s)witch, (i)gnore, (w)ipe, (b)ackup, (a)bort.
  --trusted-host <hostname>   Mark this host or host:port pair as trusted,
                              even though it does not have valid or any HTTPS.
  --cert <path>               Path to alternate CA bundle.
  --client-cert <path>        Path to SSL client certificate, a single file
                              containing the private key and the certificate
                              in PEM format.
  --cache-dir <dir>           Store the cache data in <dir>.
  --no-cache-dir              Disable the cache.
  --disable-pip-version-check
                              Don't periodically check PyPI to determine
                              whether a new version of pip is available for
                              download. Implied with --no-index.
  --no-color                  Suppress colored output

In [12]:
import sys
print(sys.version_info)

sys.version_info(major=3, minor=5, micro=2, releaselevel='final', serial=0)

In [14]:
pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/74/24/0cdbf8907e1e3bc5a8da03345c23cbed7044330bb8f73bb12e711a640a00/pandas-0.24.2-cp35-cp35m-manylinux1_x86_64.whl (10.0MB)
     |████████████████████████████████| 10.0MB 385kB/s eta 0:00:01    |█                               | 296kB 2.2MB/s eta 0:00:05     |██████████▉                     | 3.4MB 2.6MB/s eta 0:00:03     |███████████▊                    | 3.7MB 2.6MB/s eta 0:00:03     |█████████████                   | 4.1MB 2.6MB/s eta 0:00:03     |██████████████▊                 | 4.6MB 2.6MB/s eta 0:00:03     |████████████████▌               | 5.2MB 2.6MB/s eta 0:00:02     |█████████████████▉              | 5.6MB 2.8MB/s eta 0:00:02     |███████████████████▌            | 6.1MB 2.8MB/s eta 0:00:02     |████████████████████▍           | 6.4MB 2.8MB/s eta 0:00:02     |█████████████████████▋          | 6.8MB 2.8MB/s eta 0:00:02     |███████████████████████████▍    | 8.6MB 2.6MB/s eta 0:00:01
Requirement already satisfied: pytz>=2011k in /usr/lib/python3/dist-packages (from pandas) (2014.10)
Collecting numpy>=1.12.0
  Downloading https://files.pythonhosted.org/packages/eb/ec/d4b7855249ce87ece79783562dd6101b1f0abf461c25101c2e959d691e68/numpy-1.18.0-cp35-cp35m-manylinux1_x86_64.whl (19.9MB)
     |████████████████████████████████| 19.9MB 158kB/s eta 0:00:01    |█▌                              | 952kB 2.8MB/s eta 0:00:07     |███                             | 1.9MB 2.8MB/s eta 0:00:07     |████▌                           | 2.8MB 2.3MB/s eta 0:00:08     |██████                          | 3.8MB 2.3MB/s eta 0:00:07     |██████▊                         | 4.2MB 2.3MB/s eta 0:00:07     |█████████▋                      | 6.0MB 762kB/s eta 0:00:19     |███████████                     | 6.9MB 762kB/s eta 0:00:18     |████████████████████▍           | 12.7MB 2.6MB/s eta 0:00:03     |█████████████████████▌          | 13.4MB 3.1MB/s eta 0:00:03     |██████████████████████▏         | 13.8MB 3.1MB/s eta 0:00:02     |███████████████████████▎        | 14.5MB 3.1MB/s eta 0:00:02     |████████████████████████▎       | 15.2MB 3.1MB/s eta 0:00:02     |█████████████████████████▏      | 15.7MB 2.3MB/s eta 0:00:02     |██████████████████████████▎     | 16.4MB 2.3MB/s eta 0:00:02     |███████████████████████████▋    | 17.2MB 2.3MB/s eta 0:00:02     |███████████████████████████▉    | 17.3MB 2.3MB/s eta 0:00:02     |███████████████████████████████▎| 19.5MB 2.3MB/s eta 0:00:01     |███████████████████████████████▊| 19.8MB 2.3MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.5.0 in /home/raquelsl/.local/lib/python3.5/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.5.0->pandas) (1.10.0)
Installing collected packages: numpy, pandas
ERROR: Could not install packages due to an EnvironmentError: [Errno 13] Permiso denegado: '/usr/local/lib/python3.5/dist-packages/numpy-1.18.0.dist-info'
Consider using the `--user` option or check the permissions.

Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install --user pandas

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/74/24/0cdbf8907e1e3bc5a8da03345c23cbed7044330bb8f73bb12e711a640a00/pandas-0.24.2-cp35-cp35m-manylinux1_x86_64.whl
Requirement already satisfied: pytz>=2011k in /usr/lib/python3/dist-packages (from pandas) (2014.10)
Requirement already satisfied: python-dateutil>=2.5.0 in /home/raquelsl/.local/lib/python3.5/site-packages (from pandas) (2.8.1)
Collecting numpy>=1.12.0
  Using cached https://files.pythonhosted.org/packages/eb/ec/d4b7855249ce87ece79783562dd6101b1f0abf461c25101c2e959d691e68/numpy-1.18.0-cp35-cp35m-manylinux1_x86_64.whl
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.5.0->pandas) (1.10.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.18.0 pandas-0.24.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import io
import

In [20]:
dt = open("bookings.csv")
dt.head()

AttributeError: '_io.TextIOWrapper' object has no attribute 'head'

In [11]:
f_in = open("bookings.csv.bz2", "rb")
f_in

In [14]:
f_out = open("bookings.csv.bz2", "wb")
f_out.write(bz2.decompress(f_in.read()))

0

In [2]:
!cat matplotlib

cat: matplotlib: No existe el archivo o el directorio

Clase de Challenge 10 enero 2020 - IGOR:

En Big Data nunca se trabaja con todos los datos. Tener el mismo formato.

In [1]:
ls -l

total 2027864
-rw-rw-r-- 1 raquelsl raquelsl  554970628 nov 24 05:09 bookings.csv.bz2
-rw-rw-r-- 1 raquelsl raquelsl          0 ene 10 22:34 bookings.sample.csv
-rw-rw-r-- 1 raquelsl raquelsl      25293 ene 10 22:35 Challenge Project.ipynb
-rw-rw-r-- 1 raquelsl raquelsl 1038318333 ene 10 22:19 drive-download-20200111T081247Z-001.zip
-rw-rw-r-- 1 raquelsl raquelsl  483188920 nov 24 05:12 searches.csv.bz2
-rw-rw-r-- 1 raquelsl raquelsl         72 ene 10 22:38 Untitled1.ipynb
-rw-rw-r-- 1 raquelsl raquelsl       1330 ene  5 18:49 Untitled.ipynb

In [13]:
%automagic #es the python

Automagic is OFF, % prefix IS needed for line magics.

In [6]:
import bz2

In [2]:
!bzcat bookings.csv.bz2 | head 10 #cogeme el archivo bookings y presentame las 10 lineas

head: no se puede abrir '10' para lectura: No existe el archivo o el directorio

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = bookings.csv.bz2, output file = (stdout)

In [14]:
! bzcat bookings.csv.bz2 | head -10000 > bookings.sample.csv #guardamelo en un fichero

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = bookings.csv.bz2, output file = (stdout)

In [16]:
!bzip2 -f bookings.sample.csv

In [19]:
fileBz2 = bz2.BZ2File('./bookings.sample.csv.bz2')
type(fileBz2)

bz2.BZ2File

In [ ]:
### ---------------------------------------

In [24]:
try:
    with bz2.BZ2File('./bookings.sample.csv.bz2') as fileBz2:
        for k, line in enumerate(fileBz2):
            pass
    print(k+1)
        
except FileNotFoundError as mess1:
    print(mess1)
    
except ValueError:
    print("Value error")
    
except:
    print("Unexpected error")

10000

In [25]:
fileBz2.closed

True

Top 10 arrival airports in the world 2013:

In [26]:
import pandas as pd

In [ ]:
b = pd.read_csv('bookings.csv.bz2', sep='^')

In [28]:
b = pd.read_csv('bookings.sample.csv.bz2', sep='^', nrows=9999)

In [29]:
b.shape

(9999, 38)

In [30]:
list(b.columns)

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [31]:
b.sample(5) #toma muestras de manera aleatoria

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
5282,2013-03-14 00:00:00,1S,CA,96ac3a7c13c9d34e39c11f9989c654da,3906e13efcda3332a3b208d7172b803a,24050219a7f0ceeb2936ded0638cee47,2013-03-14 00:00:00,29028,0,YYC,...,YQQYYC,HD,G,Y,2013-04-29 19:40:00,2013-04-29 22:23:22,1,2013,3,NULL
2306,2013-03-11 00:00:00,1V,US,21e082fc77186038a4259ef15f61a60e,8f25f20bc6c0b832fa5234eb10d0c181,9da66ba52e6264919a8f71eef2625032,2013-01-31 00:00:00,3144,0,SNA,...,SNADFWAUS,KK,S,Y,2013-03-12 06:45:00,2013-03-12 13:49:36,-1,2013,3,NULL
555,2013-03-14 00:00:00,1A,SY,fed776207e7d178767345ade006aef3d,4ea7d262d211fd64dacb5c6ca848ce7a,3b4defc90f1d2fbf79e204314a9175f9,2013-03-13 00:00:00,87,563,BEY,...,BEYCAI,WO,T,Y,2013-03-17 09:15:00,2013-03-17 10:42:44,-1,2013,3,NULL
2105,2013-03-30 00:00:00,1A,US,bc99142aac9b034b8223c2d4bce52b69,773b68b2beae1a7a21010d50233b98f2,9d3a2a2e177bf7c45182acec1006d790,2013-03-26 00:00:00,50237,0,JFK,...,GEOJFK,LH,T,Y,2013-08-31 15:55:00,2013-08-31 21:32:06,-1,2013,3,NYC1S2110
3803,2013-03-02 00:00:00,1S,IT,7b7dbb6f049f0691ca645b45932c89e4,4b355d4f966fcecd80b6df7a46924356,58287365967d183987ca9288caf621e1,2013-02-22 00:00:00,23257,0,BDS,...,SFODFWCUN,KK,L,Y,2013-06-06 09:30:00,2013-06-06 19:39:54,2,2013,3,NULL

In [34]:
pd.set_option('display.max_columns', None) #¿para que sirve?

In [35]:
b.sample(5) #es una base de datos que viene un gds(aerolineas-agencia)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
6287,2013-03-04 00:00:00,1V,CA,5b4a13bd5eeadfcb1496eb665b95b1e1,8fd097c47035bde39ecda30f454f2ee5,1bdf112c3782fc38a21b8d8cfd08fd4a,2013-03-04 00:00:00,184,1941,LAX,LAX,US,YYC,YYC,CA,YYC,YYC,CA,LAX,LAX,US,YYC,YYC,CA,LAXYYC,LAXYYC,CAUS,1,LAXYYC,KM,W,Y,2013-03-07 18:45:00,2013-03-07 22:49:59,1,2013,3,NULL
7653,2013-03-13 00:00:00,1P,US,4804033f441ee30d92980c8b2207e8ae,4868da7a1666bbbc5fe33d377690f8eb,5508dd93b8933c924eb92c82c94621e4,2012-10-24 00:00:00,20635,0,CVG,CVG,US,TPA,TPA,US,CVG,CVG,US,CVG,CVG,US,TPA,TPA,US,CVGTPA,CVGTPA,USUS,0,CVGTPA,NV,R,Y,2013-03-16 11:30:00,2013-03-16 13:45:58,-1,2013,3,NULL
2153,2013-03-12 00:00:00,1A,IT,dc5a69e18e050de9c898d8b3c04773dd,caa2b87bc7776f054854ceb87307fa40,777b7067c79173f9b8ae2e58c8398223,2013-03-12 00:00:00,25309,0,FCO,ROM,IT,PEK,BJS,CN,FCO,ROM,IT,BKK,BKK,TH,FCO,ROM,IT,BKKFCO,BKKROM,ITTH,1,BKKAMSFCO,UV,L,Y,2013-08-17 12:10:00,2013-08-17 22:44:33,2,2013,3,NULL
2801,2013-03-29 00:00:00,1V,US,b175c22cd5c38d236873d3df80b5d83d,ab3f315b2a26bf88bcb16f2a171c66dd,5b0c9d150f1e8f36dacc8848d3111d41,2013-03-29 00:00:00,3149,0,OMA,OMA,US,DFW,DFW,US,OMA,OMA,US,OMA,OMA,US,DFW,DFW,US,DFWOMA,DFWOMA,USUS,0,OMADFW,KK,N,Y,2013-04-28 11:05:00,2013-04-28 12:59:19,1,2013,3,NULL
1105,2013-03-12 00:00:00,1A,FR,cfa8b068139cbbe6796b66cc534d54b8,cbcb97d56272bd41481bef9f75c07962,e26af3ed30dcb3d9c14f593ed61ea95a,2013-03-12 00:00:00,65,251,BRU,BRU,BE,CDG,PAR,FR,CDG,PAR,FR,BRU,BRU,BE,CDG,PAR,FR,BRUCDG,BRUPAR,BEFR,1,BRUCDG,DX,U,Y,2013-03-13 10:15:00,2013-03-13 11:20:44,1,2013,3,NULL

codigo iata lo que esta cacheado(encriptado) y codigo oid la pantalla negra de la agencia

rloc es tu reserva

creation date y activated day: se utiliza para obtener un historial

duration: para ver el tipo de viajero que eres

distance: 0 ida y vuelta 

mark port: join la ida 

mark city: 

inti: si es o no internacional 

route: la ruta de por donde pasa y sus paradas

booking class: cuanto hemos pagado 

cab: el espacio/fisico que tenemos dentro del avion (business/economy/)

brd time:  tiempo de la hora

off time: 

pax: numero de pasajeros

year:

month:

oid:

Commands for obtaining data info:

In [36]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 38 columns):
act_date               9999 non-null object
source                 9999 non-null object
pos_ctry               9999 non-null object
pos_iata               9999 non-null object
pos_oid                9999 non-null object
rloc                   9999 non-null object
cre_date               9999 non-null object
duration               9999 non-null int64
distance               9999 non-null int64
dep_port               9999 non-null object
dep_city               9999 non-null object
dep_ctry               9999 non-null object
arr_port               9999 non-null object
arr_city               9999 non-null object
arr_ctry               9999 non-null object
lst_port               9999 non-null object
lst_city               9999 non-null object
lst_ctry               9999 non-null object
brd_port               9999 non-null object
brd_city               9999 non-null object
brd_ctry               9999 non-null object
off_port               9999 non-null object
off_city               9999 non-null object
off_ctry               9999 non-null object
mkt_port               9999 non-null object
mkt_city               9999 non-null object
mkt_ctry               9999 non-null object
intl                   9999 non-null int64
route                  9999 non-null object
carrier                9999 non-null object
bkg_class              9999 non-null object
cab_class              9999 non-null object
brd_time               9999 non-null object
off_time               9999 non-null object
pax                    9999 non-null int64
year                   9999 non-null int64
month                  9999 non-null int64
oid                    9999 non-null object
dtypes: int64(6), object(32)
memory usage: 2.9+ MB

In [37]:
b.describe()

            duration      distance         intl          pax    year   month
count    9999.000000   9999.000000  9999.000000  9999.000000  9999.0  9999.0
mean    20209.746075    455.608861     0.596260     0.516152  2013.0     3.0
std     42243.233482   1738.891068     0.490671     1.783970     0.0     0.0
min        59.000000      0.000000     0.000000   -25.000000  2013.0     3.0
25%      3339.000000      0.000000     0.000000    -1.000000  2013.0     3.0
50%      7721.000000      0.000000     1.000000     1.000000  2013.0     3.0
75%     19077.000000      0.000000     1.000000     1.000000  2013.0     3.0
max    488131.000000  18481.000000     1.000000    25.000000  2013.0     3.0

In [39]:
b.groupby('rloc          ')['act_date           '].count().sort_values(ascending=False).head(10)

rloc
ae15bcfc5aec0eb64b2c5204d08201d5    42
fb72a3899ed1cd353c5830388935e7f5    23
cd96f7b7fdb5743769053ba273c7eb5f    20
6b7878dd4ac59772e14ab4760ab45ad0    20
68aee71ee0f40aff44ed341f2c5f8627    16
2a86eac3e29c922f4a439fbc0480985b    15
58ee9c6852513816a39363a1621a0615    14
503d8dde8034a48c262b3f5764fc60ca    14
c9f19404e4f0755c40deaebd6e90ea84    13
182485c12b7e38aa6e2d24f7484c019b    12
Name: act_date           , dtype: int64

Esta reserva tiene 42 dos cambios, la siguiente 23, la siguiente 20

In [40]:
b[b['rloc          '] == 'ae15bcfc5aec0eb64b2c5204d08201d5'    ].sort_values('act_date           ', ascending=True)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
7745,2013-03-01 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,-2,2013,3,NULL
7746,2013-03-01 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,-2,2013,3,NULL
7747,2013-03-01 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7748,2013-03-01 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,2,2013,3,NULL
7749,2013-03-02 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7750,2013-03-02 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,2,2013,3,NULL
7751,2013-03-04 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,-2,2013,3,NULL
7752,2013-03-04 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7756,2013-03-07 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,2,2013,3,NULL
7755,2013-03-07 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,2,2013,3,NULL
7753,2013-03-07 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7754,2013-03-07 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,-2,2013,3,NULL
7757,2013-03-08 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,-2,2013,3,NULL
7758,2013-03-08 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,-2,2013,3,NULL
7759,2013-03-08 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7760,2013-03-08 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,2,2013,3,NULL
7761,2013-03-09 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7762,2013-03-09 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,2,2013,3,NULL
7763,2013-03-11 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,-2,2013,3,NULL
7988,2013-03-11 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7992,2013-03-14 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,2,2013,3,NULL
7991,2013-03-14 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,2,2013,3,NULL
7989,2013-03-14 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7990,2013-03-14 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,-2,2013,3,NULL
7993,2013-03-15 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,-2,2013,3,NULL
7994,2013-03-15 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,-2,2013,3,NULL
7995,2013-03-15 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7996,2013-03-15 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,2,2013,3,NULL
7997,2013-03-16 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7998,2013-03-16 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,2,2013,3,NULL
8000,2013-03-18 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7999,2013-03-18 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,-2,2013,3,NULL
8004,2013-03-22 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,2,2013,3,NULL
8003,2013-03-22 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,2,2013,3,NULL
8001,2013-03-22 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
8002,2013-03-22 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,-2,2013,3,NULL
8005,2013-03-23 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,-2,2013,3,NULL
8007,2013-03-25 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
8006,2013-03-25 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,16396,12823,JFK,NYC,US,JNB,JNB,ZA,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,-2,2013,3,NULL
8008,2013-03-25 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,2,2013,3,NULL
8009,2013-03-30 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
8010,2013-03-30 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,2,2013,3,NULL

No coincide el creation day con el activite day, puede ser que no tengamos todo el historia.

2) Select the columns of interest

In [ ]:
# arr_port, pax, year

3) What to do whit NaN?

In [ ]:
#Drop

In [41]:
import pandas as pd
pd.set_option('display.max_columns', None)
b = pd.read_csv('bookings.sample.csv.bz2', sep='^', usecols=['arr_port', 'pax', 'year'], nrows=9999)
b = b.dropna()

#con esto conseguimos una tabla con nuestras tres columnas

In [42]:
len(b)

9999

Plan:
    
    1) filtrar 2013
    
    2) group by arr_port
    
    3) sum sobre pax

    4) ordenar sobre sum de pax
    
    5) top 100

In [72]:
filter=b[b['year'] == 2013]

In [74]:
filter.groupby(['arr_port'])['pax'].sum().sort_values(ascending=False)

arr_port
HKG         112
LGA          95
ORD          94
JFK          92
SFO          91
LAX          91
MCO          90
DCA          82
DEN          79
LHR          76
LAS          70
ATL          69
PHX          69
DFW          67
FLL          64
SEA          61
BWI          55
IAD          49
PVG          49
FCO          47
MEX          46
BCN          46
BOS          46
EWR          46
IST          44
PHL          41
MIA          38
AMS          36
ATH          36
DTW          35
           ...
ITM          -2
RUN          -2
UBP          -2
EYW          -2
CUR          -2
LED          -2
TOS          -2
LAO          -2
EZS          -2
OVB          -2
MLX          -3
BGA          -3
RIC          -3
ZAG          -4
MDZ          -4
GAU          -4
NGB          -4
OGG          -4
RFP          -4
MAA          -5
MAO          -6
STS          -6
AYT          -6
ABZ          -6
KSN          -6
PSA          -8
DPS          -9
ASU         -10
IKA         -10
GUM         -14
Name: pax, Length: 663, dtype: int64

In [75]:
import pandas as pd
pd.set_option('display.max_columns', None)
b = pd.read_csv('bookings.sample.csv.bz2', sep='^', usecols=['arr_port', 'pax', 'year'], nrows=9999)
b = b.dropna()
b = b[b['year']==2013]
del b['year']
b.groupby(['arr_port']).sum().sort_values('pax', ascending=False).head()

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91

In [3]:
import pandas as pd
import bz2

In [76]:
bi = pd.read_csv('bookings.csv.bz2',sep='^', usecols=["arr_port'. 'pax', 'year'], nrows=9999, iterator=True)

SyntaxError: EOL while scanning string literal (<ipython-input-76-df1948db657e>, line 1)

In [6]:
bi = pd.read_csv('bookings.csv.bz2',sep='^', usecols=['arr_port', 'pax', 'year'], nrows=9999, iterator=True)

In [9]:
type(bi)

pandas.io.parsers.TextFileReader

In [11]:
bi = pd.read_csv('bookings.csv.bz2',sep='^', usecols=['arr_port', 'pax', 'year'], nrows=9999, iterator=True, chunksize=3000)

In [12]:
type(bi)

pandas.io.parsers.TextFileReader

In [13]:
for i, b in enumerate(bi):
    print(len(b))

3000
3000
3000
999

In [ ]:
b = b.dropna()
b = b[b['year']==2013]
del b['year']
b.groupby(['arr_port']).sum()

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

bi = pd.read_csv('bookings.csv.bz2', sep='^', usecols=['arr_port', 'pax', 'year'], nrows=9999, chunksize=3000)

all_chunks = pd.DataFrame()

for i, b in enumerate(bi):
    print(i,len(b))
    b = b.dropna()
    b = b[b['year']==2013]
    del b['year']
    results=b.groupby(['arr_port']).sum()
    
    all_chunks = all_chunks.append(results)

result_all = all_chunks.reset_index().groupby(['arr_port']).sum().sort_values('pax', ascending=False).reset_index()
result_all.head(10)

0 3000
1 3000
2 3000
3 999

   arr_port  pax
0  HKG       112
1  LGA        95
2  ORD        94
3  JFK        92
4  LAX        91
5  SFO        91
6  MCO        90
7  DCA        82
8  DEN        79
9  LHR        76

In [2]:
all_chunks.reset_index().shape

(1344, 2)

In [3]:
all_chunks.reset_index()

      arr_port  pax
0     ABQ         2
1     ACC         0
2     ADD         4
3     AEP         3
4     AER         1
5     AES         2
6     AGA         0
7     AGP         8
8     AJF         0
9     AKL         1
10    ALA         6
11    ALB         2
12    ALC         4
13    ALG        12
14    AMD         1
15    AMM         3
16    AMS        15
17    ANC         2
18    ARH         1
19    ARN         4
20    ASE         0
21    ASU       -10
22    ASW         2
23    ATH        12
24    ATL        19
25    ATQ         1
26    AUH         1
27    AUS         1
28    AVL         2
29    AXM         0
...        ...  ...
1314  SJO         2
1315  SJU         0
1316  SLC         2
1317  SSH         1
1318  STL         1
1319  STT         2
1320  SVO         0
1321  SYD         0
1322  TFS         6
1323  TLH         2
1324  TLV         0
1325  TPE        11
1326  TRD         2
1327  TXL        11
1328  TYS         2
1329  ULN        16
1330  USH         2
1331  VCE         2
1332  VER         2
1333  VIE         6
1334  WLG         2
1335  WRO         2
1336  XNA         1
1337  XQP         2
1338  YTM         4
1339  YUL         3
1340  YVR         2
1341  YYC        -1
1342  YYJ         2
1343  YYZ         4

[1344 rows x 2 columns]

In [4]:
%%time
import pandas as pd
pd.set_option('display.max_columns', None)

bi = pd.read_csv('bookings.csv.bz2', sep='^', usecols=['arr_port', 'pax', 'year'], chunksize=1000000)

all_chunks = pd.DataFrame()

for i, b in enumerate(bi):
    print(i,len(b))
    b = b.dropna()
    b = b[b['year']==2013]
    del b['year']
    results=b.groupby(['arr_port']).sum()
    
    all_chunks = all_chunks.append(results)

result_all = all_chunks.reset_index().groupby(['arr_port']).sum().sort_values('pax', ascending=False).reset_index()
result_all.head(10)

0 1000000
1 1000000
2 1000000
3 1000000
4 1000000
5 1000000
6 1000000
7 1000000
8 1000000
9 1000000
10 10
CPU times: user 3min 36s, sys: 448 ms, total: 3min 37s
Wall time: 3min 58s

   arr_port      pax
0  LHR       88809.0
1  MCO       70930.0
2  LAX       70530.0
3  LAS       69630.0
4  JFK       66270.0
5  CDG       64490.0
6  BKK       59460.0
7  MIA       58150.0
8  SFO       58000.0
9  DXB       55590.0

In [5]:
result_all.head(10)

   arr_port      pax
0  LHR       88809.0
1  MCO       70930.0
2  LAX       70530.0
3  LAS       69630.0
4  JFK       66270.0
5  CDG       64490.0
6  BKK       59460.0
7  MIA       58150.0
8  SFO       58000.0
9  DXB       55590.0

In [6]:
result_all.shape

(2274, 2)

In [6]:
%automagic

Automagic is OFF, % prefix IS needed for line magics.

In [2]:
%pip install --user neobase

Collecting neobase
  Using cached https://files.pythonhosted.org/packages/d8/f2/0ca4a5818f8271f7c6d59bb336c28db931e22b51330947983be86ba4ea12/NeoBase-0.20.2.tar.gz
Collecting argparse
  Using cached https://files.pythonhosted.org/packages/f2/94/3af39d34be01a24a6e65433d19e107099374224905f1e0cc6bbe1fd22a2f/argparse-1.4.0-py2.py3-none-any.whl
Installing collected packages: argparse, neobase
    Running setup.py install for neobase ... done
Successfully installed argparse-1.4.0 neobase-0.20.2
Note: you may need to restart the kernel to use updated packages.

In [8]:
import neobase as nb

In [9]:
dir(nb) #para ver que cosas hay

['LatLng',
 'NeoBase',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'neobase']

In [10]:
help(nb)

Help on package neobase:

NAME
    neobase - # -*- coding: utf-8 -*-

PACKAGE CONTENTS
    __main__
    neobase

FILE
    /home/raquelsl/.local/lib/python3.5/site-packages/neobase/__init__.py

In [11]:
from neobase import NeoBase

In [12]:
dir(NeoBase)

['DUPLICATES',
 'FIELDS',
 'KEY',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_build_distances',
 '_empty_value',
 'distance',
 'distance_between_locations',
 'find_closest_from_location',
 'find_near',
 'find_near_location',
 'find_with',
 'get',
 'get_location',
 'keys',
 'load',
 'set',
 'skip']

In [8]:
help(NeoBase)

Help on class NeoBase in module neobase.neobase:

class NeoBase(builtins.object)
 |  Main structure, a wrapper around a dict, with dict-like behavior.
 |
 |  Methods defined here:
 |
 |  __contains__(self, key)
 |      Test if a key is in the base.
 |
 |      :param key: the key of to be tested
 |      :returns:   a boolean
 |
 |      >>> b = NeoBase()
 |      >>> 'AN' in b
 |      False
 |      >>> 'AGN' in b
 |      True
 |
 |  __init__(self, rows=None, date=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self)
 |      Returns iterator of all keys in the base.
 |
 |      :returns: the iterator of all keys
 |
 |      >>> b = NeoBase()
 |      >>> sorted(b)
 |      ['AAA', 'AAA@1', 'AAB', ...
 |
 |  __len__(self)
 |      Testing structure size.
 |
 |      :returns: a integer
 |
 |      >>> b = NeoBase()
 |      >>> 18000 < len(b) < 20000
 |      True
 |
 |  __nonzero__(self)
 |      Testing structure emptiness.
 |
 |      :returns: a boolean
 |
 |      >>> b = NeoBase()
 |      >>> if b:
 |      ...     print('not empty')
 |      not empty
 |
 |  distance(self, key_0, key_1)
 |      Compute distance between two elements.
 |
 |      This is just a wrapper between the original haversine
 |      function, but it is probably the most used feature :)
 |
 |      :param key_0: the first key
 |      :param key_1: the second key
 |      :returns:    the distance (km)
 |
 |      >>> b = NeoBase()
 |      >>> b.distance('ORY', 'CDG')
 |      34.87...
 |
 |  find_closest_from_location(self, lat_lng, N=1, from_keys=None)
 |      Concept close to find_near_location, but here we do not
 |      look for the keys radius-close to a location,
 |      we look for the closest key from this location, given by
 |      latitude/longitude.
 |
 |      Note that a similar implementation is done in
 |      the LocalHelper, to find efficiently N closest location
 |      in a graph, from a location (using heaps).
 |
 |      :param lat_lng:   the lat_lng of the location
 |      :param N:         the N closest results wanted
 |      :param from_keys: if None, it takes all keys in consideration, else takes from_keys             iterable of keys to perform find_closest_from_location. This is useful to combine             searches
 |      :returns:   one key (like 'SFO'), or a list if approximate is not None
 |
 |      >>> b = NeoBase()
 |      >>> list(b.find_closest_from_location((43.70, 7.26))) # Nice
 |      [(0.60..., 'NCE@1')]
 |      >>> list(b.find_closest_from_location((43.70, 7.26), N=3)) # Nice
 |      [(0.60..., 'NCE@1'), (5.82..., 'NCE'), (5.89..., 'XBM')]
 |
 |  find_near(self, key, radius=50, from_keys=None)
 |      Same as find_near_location, except the location is given
 |      not by a lat/lng, but with its key, like ORY or SFO.
 |      We just look up in the base to retrieve lat/lng, and
 |      call find_near_location.
 |
 |      :param key:     the key of the location
 |      :param radius:  the radius of the search (kilometers)
 |      :param from_keys: if None, it takes all keys in consideration, else takes from_keys             iterable of keys to perform search.
 |      :returns:       a list of keys (like ['ORY', 'CDG'])
 |
 |      >>> b = NeoBase()
 |      >>> sorted(b.find_near('ORY', 10)) # Orly, por <= 10km
 |      [(0.0, 'ORY'), (6.94..., 'XJY'), (9.96..., 'QFC')]
 |
 |  find_near_location(self, lat_lng, radius=50, from_keys=None)
 |      Returns a list of nearby keys from a location (given
 |      latidude and longitude), and a radius for the search.
 |      Note that the haversine function, which compute distance
 |      at the surface of a sphere, here returns kilometers,
 |      so the radius should be in kms.
 |
 |      :param lat_lng: the lat_lng of the location
 |      :param radius:  the radius of the search (kilometers)
 |      :param from_keys: if None, it takes all keys in consideration, else takes from_keys             iterable of keys to perform search.
 |      :returns:       an iterable of keys (like ['ORY', 'CDG'])
 |
 |      >>> b = NeoBase()
 |      >>> # Paris, airports <= 50km
 |      >>> [b.get(k, 'iata_code') for d, k in sorted(b.find_near_location((48.84, 2.367), 5))]
 |      ['PAR', 'XGB', 'XHP', 'XPG', 'XEX']
 |
 |  find_with(self, conditions, from_keys=None, reverse=False)
 |      Get iterator of all keys with particular field.
 |
 |      For example, if you want to know all airports in Paris.
 |
 |      :param conditions: a list of (field, value) conditions
 |      :param reverse:    we look keys where the field is *not* the particular value
 |      :returns:          an iterator of matching keys
 |
 |      Testing several conditions.
 |
 |      >>> b = NeoBase()
 |      >>> c0 = [('city_code_list', ['PAR'])]
 |      >>> c1 = [('location_type', ['H'])]
 |      >>> len(list(b.find_with(c0)))
 |      16
 |      >>> len(list(b.find_with(c0 + c1)))
 |      2
 |
 |  get(self, key, field=None, default=<object object at 0x7fa1583bb430>)
 |      Get data from structure.
 |
 |      >>> b = NeoBase()
 |      >>> b.get('OR', 'city_code_list', default=None)
 |      >>> b.get('ORY', 'city_code_list')
 |      ['PAR']
 |
 |  get_location(self, key, default=<object object at 0x7fa1583bb430>)
 |      Get None or the geocode.
 |
 |      >>> b = NeoBase()
 |      >>> b.get_location('ORY')
 |      LatLng(lat=48.72..., lng=2.35...)
 |
 |  keys(self)
 |      Returns iterator of all keys in the base.
 |
 |      :returns: the iterator of all keys
 |
 |      >>> b = NeoBase()
 |      >>> sorted(b.keys())
 |      ['AAA', 'AAA@1', 'AAB', ...
 |
 |  set(self, key, **data)
 |      Set information.
 |
 |      >>> b = NeoBase()
 |      >>> b.get('ORY', 'name')
 |      'Paris Orly Airport'
 |      >>> b.set('ORY', name='test')
 |      >>> b.get('ORY', 'name')
 |      'test'
 |      >>> b.set('Wow!', name='test')
 |      >>> b.get('Wow!', 'name')
 |      'test'
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  load(f, date) from builtins.type
 |      Building a dictionary of geographical data from optd_por.
 |
 |      >>> path = op.join(op.dirname(__file__), 'optd_por_public.csv')
 |      >>> with open_(path) as f:
 |      ...     b = NeoBase.load(f, '2030-01-01')
 |      >>> b['ORY']['city_code_list']
 |      ['PAR']
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  distance_between_locations(l0, l1)
 |      Great circle distance
 |
 |      :param l0: the LatLng tuple of the first location
 |      :param l1: the LatLng tuple of the second location
 |      :returns:  the distance in kilometers
 |
 |      >>> NeoBase.distance_between_locations((48.84, 2.367), (43.70, 7.26)) # Paris -> Nice
 |      683.85...
 |
 |      Case of unknown location.
 |
 |      >>> NeoBase.distance_between_locations(None, (43.70, 7.26)) # returns None
 |
 |  skip(row, date)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  DUPLICATES = True
 |
 |  FIELDS = (('iata_code', 0, None), ('name', 6, None), ('lat', 8, None),...
 |
 |  KEY = 0

In [13]:
geoDict = NeoBase() #ha inicializado

In [14]:
type(geoDict)

neobase.neobase.NeoBase

In [15]:
geoDict.get('LHR') #el diccionario me devuelve los valores que tiene para ese aeropuerto

{'__dup__': set(),
 'city_code_list': ['LON'],
 'city_name_list': ['London'],
 'continent_name': 'Europe',
 'country_code': 'GB',
 'country_name': 'United Kingdom',
 'currency': 'GBP',
 'iata_code': 'LHR',
 'lat': '51.4775',
 'lng': '-0.461389',
 'location_type': ['A'],
 'name': 'London Heathrow Airport',
 'page_rank': 0.44517643489228376,
 'timezone': 'Europe/London'}

In [16]:
geoDict.get('LHR')['name']

'London Heathrow Airport'

In [17]:
result_all.head(3)

   arr_port      pax
0  LHR       88809.0
1  MCO       70930.0
2  LAX       70530.0

In [18]:
result_all['arr_port'] = result_all['arr_port'].str.strip() 
#he quitado todos los espacios de todos los elementos del dataframe

In [20]:
result_all.arr_port[0]

'LHR'

In [22]:
geoDict.get(result_all.arr_port[0])['name']

'London Heathrow Airport'

In [28]:
result_all['AirportName'] = result_all['arr_port'].map(lambda x: geoDict.get(x)['name'])

KeyError: 'Key not found: CPQ'

In [30]:
print(len(result_all))
result_all = result_all[ result_all['arr_port'] != 'CPQ']
print(len(result_all))

2274
2273

In [33]:
result_all['AirportName'] = result_all['arr_port'].map(lambda x: geoDict.get(x)['name'])
result_all.head(10)

  arr_port      pax                            AirportName
0      LHR  88809.0                London Heathrow Airport
1      MCO  70930.0          Orlando International Airport
2      LAX  70530.0      Los Angeles International Airport
3      LAS  69630.0         McCarran International Airport
4      JFK  66270.0  John F. Kennedy International Airport
5      CDG  64490.0        Paris Charles de Gaulle Airport
6      BKK  59460.0                   Suvarnabhumi Airport
7      MIA  58150.0            Miami International Airport
8      SFO  58000.0    San Francisco International Airport
9      DXB  55590.0            Dubai International Airport

In [36]:
result_all = result_all.astype({'pax': int})

In [37]:
result_all.head()

  arr_port    pax                            AirportName
0      LHR  88809                London Heathrow Airport
1      MCO  70930          Orlando International Airport
2      LAX  70530      Los Angeles International Airport
3      LAS  69630         McCarran International Airport
4      JFK  66270  John F. Kennedy International Airport

In [38]:
result_all.to_csv('top_airports.csv', sep='^', index=False)

In [39]:
ls -l

total 2028636
-rw-rw-r-- 1 raquelsl raquelsl  554970628 nov 24 05:09 bookings.csv.bz2
-rw-rw-r-- 1 raquelsl raquelsl     535893 ene 10  2020 bookings.sample.csv.bz2
-rw-rw-r-- 1 raquelsl raquelsl     199286 ene 10 13:53 Challenge Project.ipynb
-rw-rw-r-- 1 raquelsl raquelsl 1038318333 ene 10  2020 drive-download-20200111T081247Z-001.zip
-rw-rw-r-- 1 raquelsl raquelsl  483188920 nov 24 05:12 searches.csv.bz2
-rw-rw-r-- 1 raquelsl raquelsl      77878 ene 10 13:54 top_airports.csv
-rw-rw-r-- 1 raquelsl raquelsl         72 ene 10  2020 Untitled1.ipynb
-rw-rw-r-- 1 raquelsl raquelsl       1330 ene  5 18:49 Untitled.ipynb

In [42]:
! head top_airports.csv

arr_port^pax^AirportName
LHR^88809^London Heathrow Airport
MCO^70930^Orlando International Airport
LAX^70530^Los Angeles International Airport
LAS^69630^McCarran International Airport
JFK^66270^John F. Kennedy International Airport
CDG^64490^Paris Charles de Gaulle Airport
BKK^59460^Suvarnabhumi Airport
MIA^58150^Miami International Airport
SFO^58000^San Francisco International Airport

Write a Web Service

In [43]:
import json

In [44]:
list("abcd")

['a', 'b', 'c', 'd']

In [45]:
json.dumps(list("abcd")) #como se ve en formato json

'["a", "b", "c", "d"]'

In [46]:
myDict={'name':'Hey', 'age': 31, 'city': "Madrid"}

In [47]:
myDict

{'age': 31, 'city': 'Madrid', 'name': 'Hey'}

In [50]:
json.dumps(myDict) #se que es un diccionario

'{"age": 31, "name": "Hey", "city": "Madrid"}'

Vamos a crear dos diccionarios con el objetivo de crear un dataframe para posteriormente visualizarlo

In [53]:
myDict2={'name':['Hey', 'Holi'], 'age':[31, 45], 'city':['Madrid', 'New York']}
myDict2

{'age': [31, 45], 'city': ['Madrid', 'New York'], 'name': ['Hey', 'Holi']}

In [54]:
import pandas as pd

In [55]:
df_from_dict = pd.DataFrame.from_dict(myDict2)

In [56]:
df_from_dict

   age      city  name
0   31    Madrid   Hey
1   45  New York  Holi

In [57]:
df_from_dict.to_json()

'{"age":{"0":31,"1":45},"city":{"0":"Madrid","1":"New York"},"name":{"0":"Hey","1":"Holi"}}'

In [59]:
df_from_dict = pd.DataFrame.from_dict(myDict2, orient = 'index')

#el elemento 0 tiene un diccionario y el elemnto 1 tiene otro
df_from_dict

           0         1
age       31        45
name     Hey      Holi
city  Madrid  New York

Me llega texto en json y se si es una lista, un diccionario, un valor. 

Utilizo el texto y creo algo. 

Json mandar la información en formato de texto

In [60]:
ls

bookings.csv.bz2                         searches.csv.bz2
bookings.sample.csv.bz2                  top_airports.csv
Challenge Project.ipynb                  Untitled1.ipynb
drive-download-20200111T081247Z-001.zip  Untitled.ipynb

In [62]:
df = pd.read_csv('top_airports.csv', sep='^')
df

     arr_port    pax                                        AirportName
0         LHR  88809                            London Heathrow Airport
1         MCO  70930                      Orlando International Airport
2         LAX  70530                  Los Angeles International Airport
3         LAS  69630                     McCarran International Airport
4         JFK  66270              John F. Kennedy International Airport
5         CDG  64490                    Paris Charles de Gaulle Airport
6         BKK  59460                               Suvarnabhumi Airport
7         MIA  58150                        Miami International Airport
8         SFO  58000                San Francisco International Airport
9         DXB  55590                        Dubai International Airport
10        ORD  53200               Chicago O'Hare International Airport
11        FCO  45120                Leonardo da Vinci–Fiumicino Airport
12        IST  43850                                   Istanbul Airport
13        DFW  42420            Dallas/Fort Worth International Airport
14        CUN  42000                       Cancún International Airport
15        MAD  41410               Adolfo Suárez Madrid–Barajas Airport
16        BCN  41200                          Barcelona–El Prat Airport
17        LGA  40712                                 La Guardia Airport
18        ATL  39780   Hartsfield-Jackson Atlanta International Airport
19        EWR  36890               Newark Liberty International Airport
20        BOS  35840                        Logan International Airport
21        DEL  35680                Indira Gandhi International Airport
22        SYD  33690                       Sydney International Airport
23        BOM  33440  Chhatrapati Shivaji Maharaj International Airport
24        MUC  33180                       Munich International Airport
25        DEN  32630                       Denver International Airport
26        MNL  32400          Ninoy Aquino Manila International Airport
27        HKG  32020                    Hong Kong International Airport
28        FRA  31970                                  Frankfurt Airport
29        ORY  31800                                 Paris Orly Airport
...       ...    ...                                                ...
2243      YAY    -20                              Saint Anthony Airport
2244      IFN    -20                      Isfahan International Airport
2245      LBF    -20       North Platte Regional Airport Lee Bird Field
2246      LEN    -20                                       León Airport
2247      XUZ    -20                             Xuzhou Guanyin Airport
2248      FLA    -20                 Gustavo Artunduaga Paredes Airport
2249      YRB    -20                               Resolute Bay Airport
2250      HDG    -20                                       Hebei Handan
2251      TAG    -20                Bohol–Panglao International Airport
2252      HRI    -20                   Hambantota International Airport
2253      BER    -20                         Berlin Brandenburg Airport
2254      RRG    -20                           Sir Gaëtan Duval Airport
2255      KSN    -20                                   Kostanay Airport
2256      VDM    -20                Gobernador Edgardo Castello Airport
2257      YCU    -20                          Yuncheng Guangong Airport
2258      BAV    -20                             Baotou Erliban Airport
2259      RXS    -30                                              Roxas
2260      CGD    -30                                    Changde Airport
2261      KKJ    -40                                 Kitakyushu Airport
2262      XNN    -40                           Xining Caojiabao Airport
2263      KUU    -40                               Kullu Manali Airport
2264      FLW    -50                                     Flores Airport
2265      MUA    -60                                              Munda
2266      CXR    -60                     Cam Ranh International Airport
2267      SDJ    -70                                     Sendai Airport
2268      MYJ    -80                                  Matsuyama Airport
2269      UPG    -90            Sultan Hasanuddin International Airport
2270      XWG    -90                                 Gare de Strasbourg
2271      MZV   -350                                       Mulu Airport
2272      AYQ  -1270                                 Ayers Rock Airport

[2273 rows x 3 columns]

In [63]:
df.head(5)

  arr_port    pax                            AirportName
0      LHR  88809                London Heathrow Airport
1      MCO  70930          Orlando International Airport
2      LAX  70530      Los Angeles International Airport
3      LAS  69630         McCarran International Airport
4      JFK  66270  John F. Kennedy International Airport

In [64]:
df.head(5).to_json() #cojo el dataframe los primeros 5 y el texto.

'{"arr_port":{"0":"LHR","1":"MCO","2":"LAX","3":"LAS","4":"JFK"},"pax":{"0":88809,"1":70930,"2":70530,"3":69630,"4":66270},"AirportName":{"0":"London Heathrow Airport","1":"Orlando International Airport","2":"Los Angeles International Airport","3":"McCarran International Airport","4":"John F. Kennedy International Airport"}}'

Hay unas paginas webs puedes ver si el texto es validado o no. 

Si es valido en formato json